<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Image Background Remover</title>
  </head>
  <body>

    <div class="hero">
      <h1>Background Remover</h1>
      <!-- Image Upload Section -->
      <label for="input-file" id="drop-area">

        <input type="file" accept="image/*" id="input-file" hidden />
        <div id="img-view">

          <img
            src="{{ url_for('static', filename='upload.png') }}"
            alt="Upload Icon"
          />
          <p>Drag & drop or Click here<br />to upload image</p>
          <span>Upload images from your device</span>
        </div>
      </label>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <!-- Link script.js here -->
  </body>
</html>
